@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

title{
    font-family: Roboto Slab;

}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #FFF9C4;
    background-size: cover;
    background-position: center;
}

.container{
    width: 420px; 
    background-color: white;
    border: 2px rgb(154, 152, 152);
    border-radius: 10px;
    color: black;
    padding: 30px 40px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
    backdrop-filter: blur(1px);
}

.container h1{
    font-size: 36px;
    text-align: center;
}

.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background-color: #455A64;
    border: 2px solid rgba(0, 0, 0, .2);
    border-radius: 40px;
    outline: none;
    font-size: 16px;
    color: white;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
    color: rgb(211, 209, 209);
}

.input-box i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.remember-forgot{
    display: flex;
    justify-content: space-between;
    margin: -15px 0px 15px;

}

.remember-forgot label input{
    accent-color: black;
    margin-right: 5px;
}

.remember-forgot a {
    text-decoration: none;
    color: #81C784;
}

.remember-forgot a:hover{
    text-decoration: underline;
}

.login{
    width: 100%;
    box-shadow: 50px 50px 50px rgba(0, 0, 0, .1);
    height: 50px;
    background-color: #FF8A65;
    border-color: #9000FF;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    margin-top: 20px;
}

.login:hover{
    color: white;
    box-shadow: 50px 50px 50px rgba(0, 0, 0, .1);
    transition: 0.5s;
}

.register-link{
    font-size: 14px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link a {
    text-decoration: none;
    color: #81C784;
    font-weight: 600;
}

.register-link a:hover{
    text-decoration: underline;
}